# PostgreSQL
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=5432
DB_NAME=

# https://newsapi.org/
NEWS_API_KEY=

# https://console.groq.com/
GROQ_API_KEY=

# https://supabase.com/
SUPABASE_URL=
SUPABASE_KEY=

# https://modal.com/ (for remote ML training)
MODAL_TOKEN_ID=
MODAL_TOKEN_SECRET=